.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
  color: #ffffff;
  font-family: Inter;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .lead__subtitle {
    margin: 0 auto;
    padding-bottom: 56px;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
