.cover__subtitle {
  position: absolute;
  top: 419px;
  left: 412px;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  font-family: Inter;
  font-weight: 50;
  max-width: 360px;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 768px) {
  .cover__subtitle {
    top: 299px;
    left: 204px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    top: 119px;
    left: 16px;
    font-size: 14px;
    line-height: 16px;
  }
}
